<div class="font-sans font-semibold flex bg-mist-200 border-t-2 border-mist-300 items-center justify-center w-full h-2/12 mt-8 sticky bottom">
    <div class="text-gray-700 text-l flex flex-col justify-center gap-y-0.5 mt-2">
        <div class="flex flex-row gap-x-2 mt-1 p-2 items-center justify-between">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="flex justify-center items-center p-2 ">
            <p>&copy;WanderLust Private Ltd.</p>
        </div>
        <div class="flex flex-row p-2 items-center justify-evenly gap-x-2 ">      
            <a href="/privacy" class="hover:underline">Privacy</a><p>|</p>
            <a href="/terms" class="hover:underline">Terms&Conditions</a>           
        </div>
    </div>
</div>