<div class="font-sans font-semibold bg-mist-50 border-2 border-mist-100 w-full sticky top-0 z-50">

  
  <div class="flex h-24 items-center justify-between px-8">
    <div class="text-2xl text-[#ff385c] font-semibold">
      <a href="/" class="flex items-center gap-2">
        <i class="fa-regular fa-compass"></i>
        <span class="hidden md:inline">WanderLust</span>
      </a>
    </div>

  
    <div class="hidden md:flex gap-4 items-center ">
      <a href="/listings" class="px-2 py-1 rounded-xl hover:text-white hover:bg-[#ff385c]">Home</a>
      <% if(currUser) { %>
      <a href="/logout" class="px-2 py-1 rounded-xl hover:text-white hover:bg-[#ff385c]">Logout</a> 
      <a href="/listings/new" class="px-3 py-1 rounded-xl hover:text-white hover:bg-[#ff385c]">Add New Listing</a>
      <% } else { %>
      <a href="/login" class="px-2 py-1 rounded-xl hover:text-white hover:bg-[#ff385c]">Login</a>
      <a href="/login" class="px-2 py-1 rounded-xl hover:text-white hover:bg-[#ff385c]">SignUp</a>
      <% } %> 
    </div>

    
    <button id="menu-btn" class="md:hidden text-lg focus:outline-none" onclick="toggleMenu()">☰</button>
  </div>

   
  <div id="mobile-menu" class="md:hidden  overflow-hidden max-h-0 transition-all duration-300 ease-in-out">
    <div class="flex flex-col gap-2 px-6 pb-4">
     <a href="/listings" class="px-2 py-1 rounded-xl hover:text-white hover:bg-[#ff385c]">Home</a>
      <% if(currUser) { %>
      <a href="/logout" class="px-2 py-1 rounded-xl hover:text-white hover:bg-[#ff385c]">Logout</a> 
      <a href="/listings/new" class="px-2 py-1 rounded-xl hover:text-white hover:bg-[#ff385c]">Add New Listing</a>
      <% } else { %>
      <a href="/login" class="px-2 py-1 rounded-xl hover:text-white hover:bg-[#ff385c]">Login</a>
      <% } %>
    </div>
  </div> 

</div>

<script>
  
  function toggleMenu() {
    const menu = document.getElementById('mobile-menu');
    const btn = document.getElementById('menu-btn');
    const isOpen = menu.classList.contains('max-h-60');

    menu.classList.toggle('max-h-0', isOpen);
    menu.classList.toggle('max-h-60', !isOpen);
    btn.textContent = isOpen ? '☰' : '✕';
  }
</script> 